
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498486311322'); /* IE9*/
  src: url('iconfont.eot?t=1498486311322#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498486311322') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498486311322') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498486311322#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before { content: "\e604"; }

.icon-fangdajing:before { content: "\e634"; }

.icon-guanbi:before { content: "\e60c"; }

.icon-dianpu:before { content: "\e600"; }

.icon-shouc01:before { content: "\e61f"; }

.icon-jipiao:before { content: "\e63c"; }

.icon-wifi:before { content: "\e81a"; }

.icon-jiahao:before { content: "\e69f"; }

.icon-fenxiang:before { content: "\e624"; }

.icon-shuaxin:before { content: "\e6ac"; }

.icon-xiangxiajiantou:before { content: "\e610"; }

.icon-my:before { content: "\e611"; }

.icon-xiaoxi:before { content: "\e603"; }

.icon-xinxi:before { content: "\e615"; }

.icon-toup-copy:before { content: "\e601"; }

.icon-zixun:before { content: "\e60f"; }

.icon-jiantou-copy:before { content: "\e60d"; }

.icon-iconfont-edu06:before { content: "\e641"; }

.icon-jiejifuwu:before { content: "\e6d0"; }

.icon-mudedi:before { content: "\e616"; }

.icon-baoxian:before { content: "\e609"; }

.icon-lvyouluxian:before { content: "\e61c"; }

.icon-jingdianmenpiao:before { content: "\e690"; }

.icon-lvyou:before { content: "\e60e"; }

.icon-shangwuyongche:before { content: "\e60a"; }

.icon-jijiajiu:before { content: "\e70e"; }

.icon-zuijinliulan:before { content: "\e61d"; }

.icon-lishi:before { content: "\e648"; }

.icon-xing:before { content: "\e70f"; }

.icon-meitongqia:before { content: "\e68b"; }

.icon-icon-youlun:before { content: "\e62b"; }

.icon-diqiu1:before { content: "\e605"; }

.icon-icon-test:before { content: "\e63d"; }

.icon-xiedianping:before { content: "\e62a"; }

.icon-Hotel:before { content: "\e60b"; }

.icon-diqiu:before { content: "\e602"; }

