* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "microsoft yahei";
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 26.67vw; }

body {
  background: #f2f2f2; }

header, section, footer, figure, aside {
  display: block; }

i, em {
  font-style: normal; }

#app {
  height: 100%; }

#app1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

#itemNavWrap {
  width: 100%;
  background: #fff; }
  #itemNavWrap .itemNav {
    width: 100%;
    height: .4rem;
    position: relative; }
    #itemNavWrap .itemNav ul {
      width: 95%;
      height: .4rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      #itemNavWrap .itemNav ul li {
        width: 32%;
        font-size: .16rem;
        line-height: .4rem;
        text-align: center; }
        #itemNavWrap .itemNav ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #000;
          transtion: all 2s linear; }
  #itemNavWrap .itemNav::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(-0.5); }
  #itemNavWrap #productIntroduce {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: .1rem; }
    #itemNavWrap #productIntroduce strong {
      font-size: .16rem;
      border-left: 4px solid #f39918;
      color: #111;
      text-indent: .1rem;
      font-weight: 100;
      margin: .2rem 0; }
    #itemNavWrap #productIntroduce .airportMsg h3 {
      font-size: .14rem;
      color: #000;
      position: relative;
      text-indent: .1rem;
      margin-bottom: .1rem; }
    #itemNavWrap #productIntroduce .airportMsg h3::before {
      content: '';
      width: .06rem;
      height: .06rem;
      background: #ffa800;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 30%; }
    #itemNavWrap #productIntroduce .airportMsg p {
      font-size: .1rem;
      color: #999;
      line-height: .2rem; }
    #itemNavWrap #productIntroduce .airportMsg .go, #itemNavWrap #productIntroduce .airportMsg .back {
      width: 100%;
      height: 1rem;
      display: flex;
      font-size: .16rem; }
      #itemNavWrap #productIntroduce .airportMsg .go .liLeft, #itemNavWrap #productIntroduce .airportMsg .back .liLeft {
        width: 30%;
        height: 100%; }
        #itemNavWrap #productIntroduce .airportMsg .go .liLeft span, #itemNavWrap #productIntroduce .airportMsg .back .liLeft span {
          font-size: .1rem;
          color: #fff;
          background: #ff9d00;
          display: inline-block;
          width: .25rem;
          height: .18rem;
          border-radius: .03rem;
          text-align: center; }
        #itemNavWrap #productIntroduce .airportMsg .go .liLeft i, #itemNavWrap #productIntroduce .airportMsg .back .liLeft i {
          display: inline-block;
          font-size: .13rem;
          margin-left: .1rem;
          transform: translateY(0.02rem); }
      #itemNavWrap #productIntroduce .airportMsg .go .liRight, #itemNavWrap #productIntroduce .airportMsg .back .liRight {
        width: 70%;
        height: 100%; }
        #itemNavWrap #productIntroduce .airportMsg .go .liRight .cutline, #itemNavWrap #productIntroduce .airportMsg .back .liRight .cutline {
          width: .6rem;
          height: .3rem;
          background: url(/static/img/icon_pic.806cf80.png) no-repeat -1rem -2.5rem;
          transform: translateY(0.1rem);
          margin: 0 .1rem; }
        #itemNavWrap #productIntroduce .airportMsg .go .liRight .time, #itemNavWrap #productIntroduce .airportMsg .back .liRight .time {
          display: flex;
          margin-top: .2rem; }
          #itemNavWrap #productIntroduce .airportMsg .go .liRight .time h2, #itemNavWrap #productIntroduce .airportMsg .back .liRight .time h2 {
            font-size: .2rem;
            font-weight: bolder; }
          #itemNavWrap #productIntroduce .airportMsg .go .liRight .time p, #itemNavWrap #productIntroduce .airportMsg .back .liRight .time p {
            color: #000; }
        #itemNavWrap #productIntroduce .airportMsg .go .liRight span, #itemNavWrap #productIntroduce .airportMsg .back .liRight span {
          display: block;
          font-size: .14rem;
          transform: translateY(0.05rem); }
    #itemNavWrap #productIntroduce .hotelInfo h3 {
      font-size: .14rem;
      color: #000;
      position: relative;
      text-indent: .1rem;
      margin-bottom: .1rem; }
    #itemNavWrap #productIntroduce .hotelInfo h3::before {
      content: '';
      width: .06rem;
      height: .06rem;
      background: #ffa800;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 30%; }
    #itemNavWrap #productIntroduce .hotelInfo p {
      font-size: .1rem;
      color: #999;
      line-height: .2rem; }
    #itemNavWrap #productIntroduce .hotelInfo dl {
      width: 100%;
      height: .8rem;
      display: flex;
      justify-content: space-between;
      margin: .1rem 0; }
      #itemNavWrap #productIntroduce .hotelInfo dl dt {
        width: 25%;
        height: .75rem;
        background: url(/static/img/hotel-1.jpeg) no-repeat;
        background-size: 100% 100%; }
      #itemNavWrap #productIntroduce .hotelInfo dl .ddBox {
        display: flex;
        flex-direction: column; }
        #itemNavWrap #productIntroduce .hotelInfo dl .ddBox dd:nth-of-type(1) {
          font-size: .16rem;
          color: #666; }
        #itemNavWrap #productIntroduce .hotelInfo dl .ddBox dd:nth-of-type(2) {
          font-size: .1rem;
          color: #999; }
        #itemNavWrap #productIntroduce .hotelInfo dl .ddBox dd:nth-of-type(3) {
          display: flex;
          transform: translateY(0.2rem); }
          #itemNavWrap #productIntroduce .hotelInfo dl .ddBox dd:nth-of-type(3) span {
            font-size: .12rem;
            border: 1px solid #ccc;
            border-radius: .03rem;
            margin-right: .1rem; }
    #itemNavWrap #productIntroduce .hotelInfo .hotelIntroduce {
      width: 100%;
      height: 1.2rem;
      background: #f7f7f7;
      font-size: .15rem;
      position: relative;
      margin-bottom: .1rem; }
      #itemNavWrap #productIntroduce .hotelInfo .hotelIntroduce em {
        display: block;
        color: #111;
        line-height: .2rem;
        text-align: justify;
        width: 95%;
        margin: 0 auto;
        transform: translateY(0.1rem); }
        #itemNavWrap #productIntroduce .hotelInfo .hotelIntroduce em i {
          color: #ff9d00; }
    #itemNavWrap #productIntroduce .hotelInfo .hotelIntroduce::after {
      position: absolute;
      left: 0;
      bottom: -.1rem;
      content: '';
      width: 100%;
      border-bottom: 1px solid #ccc; }
    #itemNavWrap #productIntroduce .picTxtInfo {
      margin: .1rem 0; }
      #itemNavWrap #productIntroduce .picTxtInfo h3 {
        font-size: .14rem;
        color: #000;
        position: relative;
        text-indent: .1rem;
        margin-bottom: .1rem; }
      #itemNavWrap #productIntroduce .picTxtInfo h3::before {
        content: '';
        width: .06rem;
        height: .06rem;
        background: #ffa800;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 30%; }
      #itemNavWrap #productIntroduce .picTxtInfo ul li {
        width: 100%; }
        #itemNavWrap #productIntroduce .picTxtInfo ul li img {
          width: 100%;
          height: 100%; }

#priceIntroduce {
  width: 100%;
  background: #fff; }
  #priceIntroduce .priceIntroduceContent {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    #priceIntroduce .priceIntroduceContent strong {
      font-size: .16rem;
      border-left: 4px solid #f39918;
      color: #111;
      text-indent: .1rem;
      font-weight: 100;
      margin: .2rem 0; }
    #priceIntroduce .priceIntroduceContent p {
      font-size: .14rem;
      color: #666666;
      line-height: .2rem;
      margin-bottom: .2rem; }
    #priceIntroduce .priceIntroduceContent h3 {
      font-size: .16rem;
      color: #000;
      position: relative;
      text-indent: .1rem;
      margin-bottom: .1rem; }
    #priceIntroduce .priceIntroduceContent h3::before {
      content: '';
      width: .06rem;
      height: .06rem;
      background: #ffa800;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 30%; }
    #priceIntroduce .priceIntroduceContent .txtBox {
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
      #priceIntroduce .priceIntroduceContent .txtBox p {
        text-align: justify;
        color: #0000ff;
        font-size: .15rem;
        font-weight: bolder;
        line-height: .2rem; }
      #priceIntroduce .priceIntroduceContent .txtBox span {
        font-size: .16rem;
        color: red;
        font-weight: bolder;
        margin: .1rem 0; }
      #priceIntroduce .priceIntroduceContent .txtBox h4 {
        text-align: justify;
        font-weight: 100;
        color: #666;
        font-size: .15rem;
        line-height: .25rem;
        margin-bottom: .1rem; }

#userRemark {
  margin-top: .1rem;
  width: 100%;
  height: 100%;
  background: #fff; }
  #userRemark .markTitle {
    width: 90%;
    margin: 0 auto;
    padding-bottom: .2rem;
    display: flex;
    transform: translateY(0.2rem);
    justify-content: space-between; }
    #userRemark .markTitle li {
      display: flex; }
    #userRemark .markTitle li:nth-of-type(1) span {
      font-size: .2rem;
      font-weight: bolder;
      color: #ffa900; }
    #userRemark .markTitle li:nth-of-type(1) h2 {
      color: #111;
      font-size: .16rem;
      display: inline-block;
      padding-left: .15rem; }
    #userRemark .markTitle li:nth-of-type(2) {
      color: #ffa900; }
      #userRemark .markTitle li:nth-of-type(2) span {
        font-size: .12rem;
        transform: translateY(0.08rem); }
      #userRemark .markTitle li:nth-of-type(2) i {
        font-size: .2rem;
        padding-left: .15rem; }

#userRemarkBox {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-bottom: .2rem; }
  #userRemarkBox .starLevel {
    width: 90%;
    margin: .1rem auto;
    display: flex;
    justify-content: space-between; }
    #userRemarkBox .starLevel dt {
      width: .3rem;
      height: .3rem;
      border: 1px solid #666;
      border-radius: 50%;
      display: flex;
      background-size: 100% 100%; }
    #userRemarkBox .starLevel dd {
      width: 87%;
      display: flex;
      flex-direction: column; }
      #userRemarkBox .starLevel dd p {
        font-size: .14rem;
        color: #f79e27; }
        #userRemarkBox .starLevel dd p span {
          font-size: .12rem;
          color: #999;
          padding-left: 70%; }
      #userRemarkBox .starLevel dd .iconBox {
        display: flex; }
        #userRemarkBox .starLevel dd .iconBox i {
          color: #f79e27; }
  #userRemarkBox .txt {
    font-size: .15rem;
    color: #666;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: .1rem; }
  #userRemarkBox .userPic {
    width: 90%;
    margin: 0 auto; }
    #userRemarkBox .userPic ul {
      width: 100%;
      display: flex; }
      #userRemarkBox .userPic ul li {
        width: .5rem;
        height: .5rem;
        display: flex;
        margin-right: .1rem; }
        #userRemarkBox .userPic ul li img {
          width: 100%;
          height: 100%; }
  #userRemarkBox .shopReply {
    width: 95%;
    font-size: .15rem;
    position: relative;
    margin: 0 auto;
    transform: translateY(0.1rem); }
    #userRemarkBox .shopReply .shopReplyContent {
      width: 100%;
      height: 100%;
      background: #f7f7f7; }
      #userRemarkBox .shopReply .shopReplyContent em {
        display: block;
        color: #111;
        line-height: .2rem;
        text-align: justify;
        width: 95%;
        margin: 0 auto;
        padding: .1rem; }
        #userRemarkBox .shopReply .shopReplyContent em i {
          color: #ff9d00; }

#reLook {
  width: 100%;
  background: #fff;
  height: 100%;
  margin-top: .1rem;
  display: flex;
  flex-direction: column; }
  #reLook strong {
    width: 90%;
    font-size: .16rem;
    border-left: 4px solid #f39918;
    color: #111;
    text-indent: .1rem;
    font-weight: 100;
    margin: .2rem 0;
    transform: translateX(0.2rem); }
  #reLook .reLookBox {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

#tripInfoFooter {
  width: 100%;
  height: .44rem;
  display: flex; }
  #tripInfoFooter ul {
    width: 50%;
    height: 100%;
    display: flex;
    background: #fff; }
    #tripInfoFooter ul li {
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center; }
      #tripInfoFooter ul li i {
        font-size: .2rem;
        color: #ff7800; }
      #tripInfoFooter ul li span {
        font-size: .14rem; }
    #tripInfoFooter ul li::after {
      content: '';
      width: 0;
      height: 100%;
      border-right: 1px solid #ccc;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(-0.5); }
    #tripInfoFooter ul li:nth-of-type(3)::after {
      content: "";
      border: none; }
    #tripInfoFooter ul li:nth-of-type(1) i {
      color: dodgerblue; }
  #tripInfoFooter a {
    display: block;
    width: 50%;
    height: 100%;
    background: #ff7800;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    line-height: .44rem; }

/*# sourceMappingURL=tripInfo-t.css.map */
